In [1]:
import numpy as np
import pandas as pd

In [2]:
!pip install scipy==1.7.0
import scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scipy==1.7.0
  Downloading scipy-1.7.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 1.6 MB/s
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy==1.7.0) (1.21.6)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed scipy-1.7.0

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [76]:
Predicted = pd.read_csv("./gdrive/MyDrive/ST_Project/Outputs/Seurat/output_exp1.csv")
Target=pd.read_csv("./gdrive/MyDrive/ST_Project/Targets/exp1.csv")

In [78]:
Predicted.shape

(2500, 49)

In [77]:
#Predicted=Predicted.drop(columns="Unnamed: 49")
Target=Target.drop(columns="Unnamed: 0")
Predicted=Predicted.to_numpy().astype(np.float64)
Target=Target.to_numpy().astype(np.float64)

# Pearson Correlation
All at once:

In [79]:
prs=(np.corrcoef(Predicted,Target,rowvar=False))
prs=pd.DataFrame(prs)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2691: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2692: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [80]:
prs

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
0,1.000000,NaN,-0.079262,-0.087771,-0.113802,-0.085967,0.088809,0.124018,0.498822,-0.094257,...,-0.051904,0.681236,0.570284,-0.059416,-0.195312,-0.043639,-0.096626,-0.102906,-0.055213,-0.141781
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.079262,NaN,1.000000,-0.042210,-0.061720,-0.011611,-0.018334,-0.071303,-0.080151,0.124123,...,-0.065715,-0.048200,-0.047942,-0.063024,-0.096938,-0.066175,-0.062214,-0.063025,-0.043619,-0.069198
3,-0.087771,NaN,-0.042210,1.000000,-0.039675,-0.069360,-0.020402,-0.028991,-0.045217,-0.045185,...,0.061924,-0.080554,-0.082700,0.444774,0.104055,0.061374,-0.063331,-0.063525,-0.049436,-0.079919
4,-0.113802,NaN,-0.061720,-0.039675,1.000000,-0.075498,-0.033515,-0.118261,-0.124329,-0.069397,...,-0.062187,-0.138207,-0.138412,-0.027753,0.176042,-0.058481,0.286856,-0.012134,-0.073197,-0.082703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,-0.043639,NaN,-0.066175,0.061374,-0.058481,-0.107697,-0.031064,-0.005380,0.422879,-0.066909,...,0.862937,-0.095227,-0.095224,-0.090084,-0.167747,1.000000,-0.099844,-0.068792,-0.049101,-0.114638
94,-0.096626,NaN,-0.062214,-0.063331,0.286856,0.024661,-0.030888,0.083694,-0.124052,-0.057881,...,-0.099477,-0.144557,-0.145228,-0.092305,0.343227,-0.099844,1.000000,-0.112559,-0.057693,-0.098354
95,-0.102906,NaN,-0.063025,-0.063525,-0.012134,-0.090769,-0.026457,-0.098827,-0.119557,-0.051359,...,-0.068665,-0.115540,-0.117431,-0.111033,-0.068934,-0.068792,-0.112559,1.000000,-0.041958,-0.085854
96,-0.055213,NaN,-0.043619,-0.049436,-0.073197,-0.061014,-0.020764,0.005323,-0.053790,-0.041068,...,-0.055165,-0.059720,-0.054989,-0.068077,-0.054271,-0.049101,-0.057693,-0.041958,1.000000,-0.082270
97,-0.141781,NaN,-0.069198,-0.079919,-0.082703,0.496213,-0.030893,-0.007227,-0.151362,-0.081773,...,-0.111846,-0.124225,-0.124546,-0.082637,-0.135656,-0.114638,-0.098354,-0.085854,-0.082270,1.000000

One at a time:

In [81]:
num_celltypes=49
d = np.zeros(num_celltypes)

In [82]:
for i in range(0,num_celltypes):
  p=Predicted[:,i]
  t=Target[:,i]
  prs=(np.corrcoef(p,t,rowvar=False))
  d[i]=prs[0,1]

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2691: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2692: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [83]:
d

array([-0.24166685,         nan, -0.01858496,  0.17186268, -0.08847486,
        0.05242935, -0.01697652,  0.01175736, -0.12627988, -0.04330382,
        0.14754597, -0.14266718, -0.06553888, -0.0327708 , -0.07846134,
       -0.1394648 , -0.06845903, -0.10355171, -0.15267643, -0.11005691,
        0.04491385, -0.08376954,  0.26172811, -0.12569154, -0.01272439,
       -0.04234802, -0.02161141, -0.0841336 ,  0.11504993, -0.03388334,
        0.1709486 ,  0.17033868,  0.67185127, -0.05358221, -0.08153584,
       -0.07953835, -0.07373154,         nan, -0.05863561, -0.08042701,
       -0.09393032, -0.08437493, -0.07974118,  0.06620761,  0.37480795,
               nan,         nan, -0.04876377,  0.21349401])

# Jensen Shannon

In [84]:
from scipy.spatial import distance

In [85]:
jns=distance.jensenshannon(Predicted,Target,axis=1)

In [86]:
jns=jns[~np.isinf(jns).squeeze()]
np.mean(jns)

0.7623377929035814

In [ ]:
jns.to_csv("jns.csv")

# F1, Precision, Recall

In [87]:
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [88]:
thresholds={0.001,0.01,0.1,0.2,0.3}

In [89]:
d = pd.DataFrame(0, index=np.arange(len(thresholds)), columns=["Precision","Recall","F1-score"])
d.index=thresholds

In [90]:
for t in thresholds:
  Predicted_logical=(Predicted>t).astype(int)
  Target_logical=(Target>t).astype(int)
  d.loc[t,"Precision"]=precision_score(Target_logical,Predicted_logical,average="micro")
  d.loc[t,"Recall"]=recall_score(Target_logical,Predicted_logical,average="micro")
  d.loc[t,"F1-score"]=f1_score(Target_logical,Predicted_logical,average="micro")

In [91]:
d

       Precision    Recall  F1-score
0.100   0.037161  0.040556  0.038784
0.300   0.000000  0.000000  0.000000
0.200   0.003075  0.009103  0.004597
0.010   0.296904  0.172480  0.218201
0.001   0.332000  0.232292  0.273337