In [1]:
import numpy as np
import pandas as pd

In [2]:
!pip install scipy==1.7.0
import scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scipy==1.7.0
  Downloading scipy-1.7.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 1.6 MB/s
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy==1.7.0) (1.21.6)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed scipy-1.7.0

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [59]:
Predicted = pd.read_csv("./gdrive/MyDrive/ST_Project/Outputs/Seurat/output_exp0.csv")
Target=pd.read_csv("./gdrive/MyDrive/ST_Project/Targets/exp0.csv")

In [62]:
Predicted.shape

(2500, 49)

In [61]:
#Predicted=Predicted.drop(columns="Unnamed: 49")
Target=Target.drop(columns="Unnamed: 0")
Predicted=Predicted.to_numpy().astype(np.float64)
Target=Target.to_numpy().astype(np.float64)

# Pearson Correlation
All at once:

In [63]:
prs=(np.corrcoef(Predicted,Target,rowvar=False))
prs=pd.DataFrame(prs)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2691: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2692: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [64]:
prs

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
0,1.000000,0.716861,0.925291,0.808508,0.270686,0.212960,0.261933,0.150231,-0.082041,-0.117107,...,-0.068466,-0.063552,-0.063616,-0.039802,0.038244,-0.068211,-0.006225,-0.051774,-0.073452,-0.083107
1,0.716861,1.000000,0.605055,0.722529,0.466174,0.238373,0.371827,0.248229,-0.123131,-0.162975,...,-0.102701,-0.082334,-0.082230,-0.066887,0.047275,-0.101118,-0.015006,-0.052289,-0.110953,-0.120888
2,0.925291,0.605055,1.000000,0.770576,0.281226,0.231482,0.278087,0.070800,-0.069672,-0.100920,...,-0.060094,-0.054781,-0.055155,-0.043449,0.032346,-0.059494,-0.017669,-0.047477,-0.062086,-0.072770
3,0.808508,0.722529,0.770576,1.000000,0.249553,0.156215,0.207663,0.445908,-0.095647,-0.136439,...,-0.096546,-0.093350,-0.092042,-0.033031,0.077105,-0.092564,0.156617,-0.065923,-0.100542,-0.095905
4,0.270686,0.466174,0.281226,0.249553,1.000000,0.666556,0.916646,0.087232,-0.125228,-0.143863,...,-0.109832,0.059208,0.093459,-0.099327,-0.093669,-0.111579,-0.072218,-0.056123,-0.110351,-0.132528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,-0.068211,-0.101118,-0.059494,-0.092564,-0.111579,-0.086878,-0.093902,-0.091542,-0.065477,0.009970,...,0.888350,-0.134585,-0.133505,-0.082424,-0.118288,1.000000,-0.071849,-0.057457,-0.100719,-0.133037
94,-0.006225,-0.015006,-0.017669,0.156617,-0.072218,-0.056653,-0.063753,0.441624,-0.043043,-0.079582,...,-0.064518,-0.092540,-0.084292,-0.064319,0.162991,-0.071849,1.000000,-0.069842,-0.062149,-0.015088
95,-0.051774,-0.052289,-0.047477,-0.065923,-0.056123,-0.053022,-0.053256,-0.064924,-0.059108,-0.114877,...,-0.059281,-0.078636,-0.080421,-0.050324,0.030119,-0.057457,-0.069842,1.000000,-0.067739,-0.087493
96,-0.073452,-0.110953,-0.062086,-0.100542,-0.110351,-0.085245,-0.093066,-0.092664,0.421254,0.476828,...,-0.104337,-0.069278,-0.075692,-0.094840,-0.142601,-0.100719,-0.062149,-0.067739,1.000000,-0.117986
97,-0.083107,-0.120888,-0.072770,-0.095905,-0.132528,-0.103748,-0.111469,-0.064604,-0.117394,-0.179318,...,-0.136855,-0.134349,-0.133811,-0.116551,-0.109159,-0.133037,-0.015088,-0.087493,-0.117986,1.000000

One at a time:

In [65]:
num_celltypes=49
d = np.zeros(num_celltypes)

In [66]:
for i in range(0,num_celltypes):
  p=Predicted[:,i]
  t=Target[:,i]
  prs=(np.corrcoef(p,t,rowvar=False))
  d[i]=prs[0,1]

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2691: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2692: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [67]:
d

array([ 0.05663128,  0.50737597,  0.5586814 ,  0.03329353, -0.01208262,
        0.55975627,  0.37602031,  0.13307904,  0.29551407,  0.53060168,
        0.55917928,  0.87501269,         nan,         nan, -0.04848634,
       -0.04601143,  0.1099322 ,  0.02583581,  0.77755138,  0.69231273,
        0.50338164,  0.15709334,  0.65085999,  0.20283506,  0.82761343,
        0.44153093,  0.26166719,  0.03011865, -0.01121779,  0.0941047 ,
               nan,  0.57940743, -0.03440178, -0.0034311 ,  0.237549  ,
        0.65518173,  0.78227252,  0.83622825,  0.25741045,  0.78063089,
               nan,         nan,  0.25293231,  0.49087263,  0.37002468,
               nan, -0.02310618,  0.61522933, -0.08145013])

# Jensen Shannon

In [68]:
from scipy.spatial import distance

In [69]:
jns=distance.jensenshannon(Predicted,Target,axis=1)

In [70]:
jns=jns[~np.isinf(jns).squeeze()]
np.mean(jns)

0.6239818275385125

In [ ]:
jns.to_csv("jns.csv")

# F1, Precision, Recall

In [71]:
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [72]:
thresholds={0.001,0.01,0.1,0.2,0.3}

In [73]:
d = pd.DataFrame(0, index=np.arange(len(thresholds)), columns=["Precision","Recall","F1-score"])
d.index=thresholds

In [74]:
for t in thresholds:
  Predicted_logical=(Predicted>t).astype(int)
  Target_logical=(Target>t).astype(int)
  d.loc[t,"Precision"]=precision_score(Target_logical,Predicted_logical,average="micro")
  d.loc[t,"Recall"]=recall_score(Target_logical,Predicted_logical,average="micro")
  d.loc[t,"F1-score"]=f1_score(Target_logical,Predicted_logical,average="micro")

In [75]:
d

       Precision    Recall  F1-score
0.100   0.368053  0.302984  0.332364
0.300   0.188324  0.586510  0.285103
0.200   0.283284  0.441060  0.344988
0.010   0.481981  0.251024  0.330117
0.001   0.475681  0.297966  0.366412